# Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
build/
dist/
*.spec

# Ambientes virtuais
venv/
.env/
.venv/

# Arquivos de áudio e transcrições
*.mp3
*.wav
*.m4a
*.ogg
*.txt

# Sistema
.DS_Store
Thumbs.db
